.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border-left: 200px;

}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculate {
    display: flex;
    align-items: center;
    justify-content: center;
}

.border {
    border: black solid;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: fit-content;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    margin-top: 30px;
    
}

.green {
    background-color: rgb(91, 170, 91);
    box-shadow: -20px 30px rgb(168, 19, 81);
}

.red {
    background-color: -20px 30px rgb(168, 19, 81);
    box-shadow: rgb(91, 170, 91);
}