
<div class = "border" [ngClass] = "{red: isRed, green: isGreen}">
    <h1>Interest Calculator</h1>
    <hr>
    <div class = "center">
        Starting Principle: &nbsp;
        $<input [(ngModel)]="startingPrincipal" type="number" />
    </div>

    <div class = "center">
        Years to Grow: &nbsp;
        <input [(ngModel)]="yearsToGrow" type="Number">
    </div>

    <div class = "center">
        Interest Rate:&nbsp;
        <input [(ngModel)] = "interstRate" type="Number">%
    </div>

    <div class = "center">
        Compount interest &nbsp; <input [(ngModel)] = "compoundTimes" type = "Number"> 
        &nbsp; time(s) annually
    </div>
    <div class = "center">
        <button (click) = "calculateInterest()">Calculate</button>
        <button (click) = "clearVariables()">Clear</button>
        <button (click) = "switchColors()">SwitchColors</button>
    </div>

</div>

<div class = "center">
Future Value: ${{futureValue}}
</div>



